@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =========Header======== */

.wrapper {
    max-width: 1124px;
    margin: 0 auto;


}

header {
    width: 100%;
    position: absolute;

}

.main-header {
    width: 100%;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;



}

.heading {
    width: 40%;

}

h3.active {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255, 0.3);
    font-weight: 800;
    cursor: pointer;
}

h3 span {
    color: rgb(255, 255, 255);
}

.nav {
    width: 60%;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
    text-transform: uppercase;
    transition: all 0.5;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.7;
    transition: all 0.5s;

}

.nav-bar a:hover {
    color: rgb(180, 119, 6);


}

.bottom-line {
    border-bottom: 2px solid rgb(255, 255, 255, 0.1);

}

/* =========Section-1===== */
section.your-favorite {
    width: 100%;
    background-image: url(./img/gg.png);

}

.main-section {
    text-align: center;
    padding: 200px 0 125px 0;
}

.main-section h1 {
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    line-height: 65px;
}

.main-section p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    line-height: 25px;
    color: white;
    margin-top: 20px;

}

button.s1 {
    background-color: rgb(219, 63, 63);
    margin-top: 60px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif;
    padding: 12px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

button.s1:hover {
    background-color: rgba(204, 101, 101, 0.2);
}


/* =======Section-2======== */


section.features {
    width: 100%;
    padding: 50px 0 0 50px;
    background-color: white;
}

.six-icon {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.icon-1 {
    width: 33.33%;
    padding: 25px;
}

.icon-1 img {
    transition: all 0.5s;
    cursor: pointer;
}

.icon-1 img:hover {
    transform: scale(1.3);

}


.icon-1 h4 {
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.icon-1 p {
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.icon-1 image:hover {
    width: 350px;
}

/* ========Section-3====== */


section.work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;


}


.sidebyimg {
    width: 25%;
    height: 200px;
    position: relative;

}

.sidebyimg img {
    width: 100%;
    height: 200px;



}

.sidebyimgContent {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 4, 4, 0.7);
    top: 0%;
    opacity: 0;
    transition: all 0.9s ease-in-out;

}


.sidebyimgContent:hover {
    opacity: 0.7;
}




/* ========Section-4======== */

section .team {
    width: 100%;
}

.teammate-all {
    display: flex;
    justify-content: space-between;
    text-align: left;
   
    
}


.teammate {
    width: 25%;
    padding: 18px;
    margin-top: 40px;
    overflow: hidden;
}

.teammate img {
    width: 100%;
    transition: all 0.7s ease-in-out;

}

.teammate img:hover{
    transform: scale(1.1);
}
.teammate h4 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin-top: 15px;
}

.teammate h6 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    color: red;
}

.teammate p {
    margin-top: 12px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
}

.icn i {
    border: 2px solid rgba(31, 28, 28, 0.473);
    padding: 6px;
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 50%;
    transition: all 0.7s ease-in-out;
}

.icn i:hover{
    transform: scale(1.1);
    color: black;
    border: 2px solid black;
}


/* =========Section-5======== */


section.client {
    width: 100%;
    display: flex;
    margin: 60px 0;
}

.ls-client {
    width: 50%;
    overflow: hidden;
}

.ls-client img {
    width: 100%;
    height: 100%;
    transition: all ease-in 0.9s;

}

.ls-client img:hover{
    transform: scale(1.1);
   

}




.rs-client {
    width: 50%;
    background-color: rgb(146, 102, 187);
    padding: 90px 80px;
    color: white;
    

}

.rs-client h3 {
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    max-width: 600px;
}

.rs-client p {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;

}



/* =======Section-6======= */

section.download {
    width: 100%;
}

.download-1 {
    margin-top: 80px;
    text-align: center;
}

.download-1 h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}

.download-1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: 400;
}


button.down-btn {
    font-family: 'Raleway', sans-serif;
    padding: 10px 60px;
    border: none;
    border-radius: 4px;
    background-color: rgb(230, 23, 23);
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
}

button.down-btn:hover {
    background-color: rgba(230, 23, 23, .6);
}


/* ==========Footer============ */


.footer-1 {
    width: 100%;
    background-color: rgb(47, 47, 77);
    margin-top: 80px;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 47, 77)
}

.ft-head {
    width: 33.33%;
    margin: 50px;

}

.ft-head h4 {
    text-align: center;
    color: white;
    font-size: 30;
    font-weight: 100;
    text-transform: uppercase;
}

.p1 {
    margin-top: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.301);
}

.ft-head p {
    text-align: center;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.301);
    font-size: 20px;

}

.ft-icon i {
    border: 2px solid white;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.9s ease-in-out;
}

.footer-bottom {
    width: 100%;

}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.459);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-bottom i {
    margin: 0 4px;

}

.ft-icon i:hover{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 0.459);
    border: 2px solid rgba(255, 255, 255, 0.459);
}